.minicartWrapperContainer {
    justify-content: center;
}
.minicartCheckoutButton :global(.vtex-button){
    background-color: #5c7f71;
}
.minicartCheckoutButton :global(.vtex-button):hover {
    background-color: #5c7f71cc;
    border-color: #5c7f71cc;
}
.minicartCheckoutButton :global(.vtex-button__label){
    font-size: 0;
}
.minicartCheckoutButton :global(.vtex-button__label)::before{
    content: "FINALIZAR COMPRA";
    font-family: 'Acrom-Medium';
    font-size: 14px;
}
.popupArrowUp{
    background: transparent;
    width: 100%;
    height: 30px;
    transform: unset;
    z-index: 1;
    right: 0;
    top: -30px;
}
.minicartEmptyStateContainer{
    padding: 30px 20px;
}
.minicartEmptyStateContainer :global(.vtex-rich-text-0-x-paragraph){
    font-size: 0;
}
.minicartEmptyStateContainer :global(.vtex-rich-text-0-x-paragraph)::before{
    content: "Carrinho vazio.";
    font-size: 14px;
}
.drawerContent::before {
    content: "CARRINHO";
    position: absolute;
    left: 60px;
    font-size: 20px;
    font-family: 'Acrom-Medium';
    top: 16px;
    color: #5c7f71;
    letter-spacing: 1px;
}
.minicartQuantityBadgeDefault {
    background: #f8f9f9;
    color: black;
    width: 13px;
    height: 13px;
    line-height: 15px;
    right: -20px;
    top: -9px;
    font-size: 10px;
    font-family: 'Acrom-Medium';
}   
.popupBoxPosition {
    right: -40px;
    width: 406px;
    top: 15px;
}
.popupBoxPosition::before {
    content: "";
    display: block;
    width: 100%;
    background-color: transparent;
    height: 30px;
    position: absolute;
    top: -28px;
    z-index: 1;
}
.popupChildrenContainer{
    padding: 0;
    margin: 0;
}
.popupStyles{
    max-height: 500px;
}
.minicartTitle,.minicartProductListContainer :global(.vtex-product-list-0-x-productBrandName) {
    display: none;
}
.minicartProductListContainer {
    padding: 0 20px 0 0;
} 
.minicartProductListContainer::-webkit-scrollbar-track{
    background-color: #F4F4F4;
}
.minicartProductListContainer::-webkit-scrollbar{
    width: 4px;
    background: #5c7f71;
}
.minicartProductListContainer::-webkit-scrollbar-thumb{
    background: #5c7f71;
    border-radius: 10px;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-productName){
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-productPriceContainer) {
    display: flex; 
    width: 100%;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-productPriceCurrency) {
    color: #313131;
    margin-bottom: 0;
    margin-right: 10px;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-productPrice) {
    color: #313131;
    font-size: 14px;
    font-family: 'Acrom-Medium';
} 
.minicartProductListContainer :global(.vtex-styleguide-9-x-container) {
    height: fit-content;
    border-width: 1px;
} 
.minicartProductListContainer :global(.vtex-dropdown__button) {
    font-size: 12px;
    height: 26px;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-unitPriceContainer) {
    width: fit-content;
    position: absolute;
    margin-top: -33px;
    font-size: 11px;
}
.minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRowContent){
    margin-top: 5px;
    padding: 0;
}

.minicartWrapperContainer  :global(.vtex-button){
    font-size: 0;
    background-image: url(assets/imgs/icones/iconeCarrinho.png);
    height: 25px;
    width: 22px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

@media (min-width: 640px) { 
    .minicartProductListContainer::before{
        content: "CARRINHO"; 
        font-size: 18px;
        font-family: 'Acrom-Medium'; 
        color: #5c7f71;
        letter-spacing: 1px;
        padding: 20px;
        display: block;
    }
}















.minicartWrapperContainer--add-modal{
    display: none!important;
    opacity: 0;
} 

.drawerContent--add-modal{
    box-shadow: inset -25px 0px 50px 0px #efefef;
    background: #fff; 
    padding: 20px 20px; 
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    overflow: revert;
}

.drawer--add-modal.opened--add-modal{ 
    left: 0px;
    right: 0px; 
    margin: auto;
    border-radius: 0px;
    background: transparent;
    max-width: 500px!important;
}

.drawerContent--add-modal::before{
    display: none;
}

.drawerContent--add-modal :global(.vtex-slider-layout-0-x-slide--comprejunto){
    min-height: auto!important;
    margin: 0px;
    padding: 0px;
}

.drawerContent--add-modal :global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf){
    margin: 0;
}

.drawer--add-modal .minicartTitle{ 
    display: none;
}   

.minicartCheckoutButton{
    margin-bottom: 0px;
    margin-top: 25px;
}

.drawerContent--add-modal .closeIconButton::after{
    display: none; 
}  

.minicartSideBarContentWrapper--add-modal{
    height: auto!important;
}

:global(.vtex-store-drawer-0-x-closeIconButton--continue-buy){
    color: #9747FF;
    font-family: 'lato-bold';
    text-decoration: underline;
}

.drawerContent--add-modal .minicartCheckoutButton :global(.vtex-button){
    background: white; 
    border-radius: 22px; 
    height: 40px;
    border: 2px solid black;
    color: black;    
    font-family: 'lato-bold';
}

.drawerContent--add-modal .minicartCheckoutButton :global(.vtex-button__label){
    font-size: 0px;
}

.drawerContent--add-modal .minicartCheckoutButton :global(.vtex-button__label)::after{
    content: 'VER CARRINHO';
    font-size: 14px;
}

.closeIconContainer--add-modal{
    position: absolute;
    top: -50px;
    right: 15px;
    width: 25px;
    height: 25px;
} 

.closeIconContainer--add-modal .closeIconButton--add-modal::after{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3e%3cpath d='M12.5 0C10.0277 0 7.61099 0.733112 5.55538 2.10663C3.49976 3.48015 1.89761 5.43238 0.951511 7.71645C0.00541606 10.0005 -0.242126 12.5139 0.24019 14.9386C0.722505 17.3634 1.91301 19.5907 3.66117 21.3388C5.40933 23.087 7.63661 24.2775 10.0614 24.7598C12.4861 25.2421 14.9995 24.9946 17.2835 24.0485C19.5676 23.1024 21.5199 21.5002 22.8934 19.4446C24.2669 17.389 25 14.9723 25 12.5C24.9965 9.18587 23.6784 6.00848 21.335 3.66503C18.9915 1.32158 15.8141 0.00349978 12.5 0ZM17.0264 15.6659C17.1158 15.7552 17.1866 15.8613 17.235 15.978C17.2833 16.0947 17.3082 16.2198 17.3082 16.3461C17.3082 16.4725 17.2833 16.5976 17.235 16.7143C17.1866 16.831 17.1158 16.9371 17.0264 17.0264C16.9371 17.1158 16.831 17.1866 16.7143 17.235C16.5976 17.2833 16.4725 17.3082 16.3462 17.3082C16.2198 17.3082 16.0947 17.2833 15.978 17.235C15.8613 17.1866 15.7552 17.1158 15.6659 17.0264L12.5 13.8594L9.33414 17.0264C9.2448 17.1158 9.13874 17.1866 9.02202 17.235C8.9053 17.2833 8.78019 17.3082 8.65385 17.3082C8.52751 17.3082 8.4024 17.2833 8.28568 17.235C8.16896 17.1866 8.0629 17.1158 7.97356 17.0264C7.88422 16.9371 7.81336 16.831 7.76501 16.7143C7.71666 16.5976 7.69178 16.4725 7.69178 16.3461C7.69178 16.2198 7.71666 16.0947 7.76501 15.978C7.81336 15.8613 7.88422 15.7552 7.97356 15.6659L11.1406 12.5L7.97356 9.33413C7.79314 9.15371 7.69178 8.909 7.69178 8.65384C7.69178 8.39869 7.79314 8.15398 7.97356 7.97356C8.15399 7.79313 8.39869 7.69177 8.65385 7.69177C8.90901 7.69177 9.15372 7.79313 9.33414 7.97356L12.5 11.1406L15.6659 7.97356C15.7552 7.88422 15.8613 7.81335 15.978 7.765C16.0947 7.71666 16.2198 7.69177 16.3462 7.69177C16.4725 7.69177 16.5976 7.71666 16.7143 7.765C16.831 7.81335 16.9371 7.88422 17.0264 7.97356C17.1158 8.06289 17.1866 8.16895 17.235 8.28568C17.2833 8.4024 17.3082 8.5275 17.3082 8.65384C17.3082 8.78019 17.2833 8.90529 17.235 9.02201C17.1866 9.13874 17.1158 9.2448 17.0264 9.33413L13.8594 12.5L17.0264 15.6659Z' fill='white'/%3e%3c/svg%3e");
    display: block;
    width: 25px;  
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    content: ''; 
}

.closeIcon--add-modal{
    display: none; 
}

.drawerContent--add-modal :global(.vtex-rich-text-0-x-paragraph--shelfTitle){
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
}

.drawerContent--add-modal :global(.vtex-store-link-0-x-link--close-modal){
    border: none;
    width: 400px;
    max-width: 100%;
    padding: 10px;
    margin-top: 8px;
    font-size: 16px;
    background: #f0f0f0;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #333333;
    font-weight: 600;
}